@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@200;400;500&display=swap');

:root{
    --dourado: gold;
    --marmore: #F2EFE9;
    --verde: rgb(0,128,0)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 400;
}
body{
    background-color: var(--marmore);
    background-image: url(../img/background.png);
}
h1{
    text-align: center;
}
span{
    font-weight: 600;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}
.wrapper input, textarea, select{
    height: 30px;
    border: 1px solid var(--dourado);
    border-radius: 5px;
    padding: 5px;
}
.wrapper div{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#inputTexto{
    width: 240px;
    height: 45px;
    max-width: 350px;
    min-width: 259px;
    max-height: 100px;
    min-height: 30px;
    padding-inline: 6px;
    font-size: 1rem;
}
#inputBase{
    width: 60px;
    text-align: center;
}
.radioBtns div{
    flex-direction: row;
}
.resultadoContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}
.resultado{
    background-color: white;
    width: 90vw;
    height: 150px;
    max-width: 90vw;
    min-width: 60vw;
    max-height: 50vh;
    min-height: 20vh;
    padding-inline: 12px;
    border: 1px solid var(--dourado);
    font-size: 1.4rem;
    border-radius: 3px;
    text-align: center;
}

main section:nth-child(1){
    margin-block: 80px;
    font-size: 1.2rem;
}
main section:nth-child(1) div:nth-child(4) div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
main section:nth-child(2){
    padding-bottom: 10px;
}


.cesarStoryWrapper, .base64StoryWrapper{
    padding: 24px;
    max-width: 630px;
    border: 1px solid var(--dourado);
    margin: 16px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.6);
}

.cesarStoryWrapper h2, .base64StoryWrapper h2{
    text-align: center;
    font-weight: 600;
}
#baseContainer{
    display: none;
}
.cesarStoryWrapper-img{
    margin: 20px auto;
    width: 200px;
}
.base64StoryWrapper img{
    border: 1px solid var(--dourado);
    margin-top: 12px;
    width: 100%;
}

@media (min-width: 1160px){

    .cesarStoryWrapper{
        background-image: url(../img/julio-cesar.png);
        background-position: left;
        background-size:contain;
        background-repeat: no-repeat;
        padding-left: 60px
    }
    .resultado{
        width: 500px;
        min-width: 150px;
        max-width: 50vw;;
    }
    main section:nth-child(2){
        display: flex;
    }
    main section:nth-child(2) div{
        height: max-content;
    }
}